@using AutoMarket.Common.ViewModels.Car
@model AutoMarket.Domain.Entity.Car
@*@model AutoMarket.Common.ViewModels.Car.CarViewModel
*@
@{
    ViewBag.Title = "Сведения об Автомобиле";
    Layout = null;
}


@*<body>
    <div style="background-image: url('images/Audi.jpg')"></div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://fikiwiki.com/uploads/posts/2022-02/1644909390_10-fikiwiki-com-p-kartinki-mashini-audi-11.jpg" 
                 class="img-fluid rounded-start rounded" alt="@Model?.Mark" width="250px">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center">@Model?.Mark</h5>
                <p class="card-text"><b>Описание: </b>@Model?.Description</p>
                <p class="card-text"><b>Стоимость: </b>@Model?.Price ₽</p>
                <p class="card-text"><b>Тип: </b>@Model?.TypeCar</p>
                <p class="card-text"><b>Модель: </b>@Model.Model</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <p class="card-text"><b>Описание: </b>@Model?.Description</p>
            </div>
        </div>
    </div>
</div>
</body>*@
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" asp-hidden="true">X</button>
        <h4>Характеристики автомобиля</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Марка автомобиля:</dt>
            <dd>@Html.DisplayFor(model=> model.Mark)</dd>

            <dt>Модель автомобиля:</dt>
            <dd>@Html.DisplayFor(model=> model.Model)</dd>

            <dt>Скорость автомобиля:</dt>
            <dd>@Html.DisplayFor(model=> model.Speed)</dd>

            <dt>Скорость автомобиля:</dt>
            <dd>@Html.DisplayFor(model=> model.Price)</dd>
        </dl>
    </div>
</div>