@using AutoMarket.Common.ViewModels.Car
@using AutoMarket.Domain.Entity
@model IEnumerable<Car>

@{
    ViewBag.Title = "Список автомобилей";
    Layout = "_Layout";
}


@*<div class="container">
   <div class="row">
        <div class="col-md-4" >
            <h5>Марки автомобилей</h5>
            @foreach(var car in Model)
            {
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Марка: @car.Mark</li>
                </ul>
            }
        </div>

       <div class="col-md-4">
            <h5>Модели автомобилей</h5>
            @foreach(var car in Model)
            {
               <div class="col-md-4">
                    <div class="col">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">Модель: @car.Model</li>
                    </ul>
                    </div>
               </div>
            }
       </div>


    </div>
</div>*@




<p>
@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model=> model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Speed)
            </th>
        </tr>
      
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.Mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Speed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id=item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id=item.Id})
        </td>
    </tr>
}
</table>